[ req ]
default_bits            = 2048
encrypt_key             = no
default_md              = sha256
utf8                    = yes
string_mask             = utf8only
prompt                  = no
distinguished_name = req_distinguished_name
req_extensions     = req_ext
[ req_distinguished_name ]
countryName         = FR
stateOrProvinceName = Ile-de-France
localityName        = PARIS LA DEFENSE
organizationName    = Acknowledge
organizationalUnitName = IS Services
commonName          = vault-node-2
[ req_ext ]
subjectAltName = @alt_names
[alt_names]
DNS.1 = vault-node-2
DNS.2 = vault-node-2.ack.local 
