cluster_name = "{{ vault_cluster_name }}"
cluster_addr = "{{ vault_cluster_addr }}"
api_addr = "{{ vault_api_addr }}"

plugin_directory = "{{ vault_plugin_path }}"

listener "tcp" {
  address = "{{ vault_address }}:{{ vault_port }}"
  cluster_address = "{{ vault_cluster_address }}"
  {% if not (vault_tls_disable | bool) -%}
  tls_cert_file = "{{ vault_tls_config_path }}/{{ vault_tls_cert_file }}"
  tls_key_file = "{{ vault_tls_config_path }}/{{ vault_tls_key_file }}"
  {% if vault_tls_client_ca_file is defined -%}
  tls_client_ca_file="{{ vault_tls_config_path }}/{{ vault_tls_client_ca_file }}"
  {% endif -%}
  tls_min_version  = "{{ vault_tls_min_version }}"
  {% if vault_tls_cipher_suites is defined -%}
  tls_cipher_suites = "{{ vault_tls_cipher_suites }}"
  {% endif -%}
  {% if tls_prefer_server_cipher_suites is defined -%}
  tls_prefer_server_cipher_suites = "{{ vault_tls_prefer_server_cipher_suites }}"
  {% endif -%}
  {% if (vault_tls_require_and_verify_client_cert | bool) -%}
  tls_require_and_verify_client_cert = "{{ vault_tls_require_and_verify_client_cert | bool | lower}}"
  {% endif -%}
  {% if (vault_tls_disable_client_certs | bool) -%}
  tls_disable_client_certs = "{{ vault_tls_disable_client_certs | bool | lower}}"
  {% endif -%}
  {% endif -%}
  tls_disable = "{{ vault_tls_disable | bool | lower }}"
}

storage "raft" {
  path = "{{ vault_data_path }}"
  node_id = "{{ vault_raft_node_id }}"
}

{% if vault_ui -%}
ui = {{ vault_ui | bool | lower }}
{% endif %}